

  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container" id="navminup">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!--a class="navbar-brand">The Distance</a-->
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <!--ul class="nav navbar-nav">
            <li><a href="#">Contact</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul-->
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <img src="./libraries/styles/pics/shoe.jpg" class="shoe">
          <h1 class="logo">The Distance</h1>
          <p>A Different Breed</p>
          <img src="./libraries/styles/pics/cyclingshoe.jpg" class="cyclingshoe">
        </div>
        <div class="col-md-8 theList">
          <a href="#">theRules</a>
          <a href="#">theToDo</a>
          <a href="#">TheShot</a>
          <a href="#">TheStand</a>
          <a href="#">TheEnd</a>
        </div>
      </div>

      <div class="container">
        <div class="col-md-4">
        </div>
        <div class="col-md-6">
          <img src="./libraries/styles/pics/image.jpg" class="roadpic">
        </div>
        <div>
          <h3>A lot...</h3>
        </div>


    </div><!-- /.container -->
