body {
  padding-top: 50px;
  background-color: #e6f3ff;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.navbar-inverse {
    background-color: #003366;
    border-color: #003366;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: white;
    background-color: #003366;
}
